/* line 1, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header {
  background: white;
}

/* line 4, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .loading-bar {
  height: 5px;
  background: red;
}

/* line 10, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* line 19, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .ccns-logo {
  max-height: 70px;
  max-width: 100%;
  min-width: 111px;
  padding: 9px 0;
}

/* line 26, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin-left: 20px;
  width: 100%;
  max-width: 600px;
}

/* line 40, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item {
  cursor: pointer;
  font-family: Chalkduster;
  font-size: 12px;
  height: 100%;
  position: relative;
  transition: .25s;
}

/* line 48, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.about {
  color: #44bbdf;
}

/* line 51, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.program {
  color: #82b440;
}

/* line 54, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.teachers {
  color: #089271;
}

/* line 57, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.enrollment {
  color: #f0a655;
}

/* line 60, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.community {
  color: #ffbd00;
}

/* line 63, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.donate {
  color: #007dbe;
}

/* line 66, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item.contact {
  color: #bd1c09;
}

/* line 70, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item a {
  color: inherit;
  text-decoration: inherit;
  transition: .25s;
}

/* line 76, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item .title {
  align-items: center;
  display: flex;
  height: 100%;
}

/* line 84, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item .sub-menu {
  background-color: inherit;
  border-radius: 0 0 3px 3px;
  display: none;
  flex-direction: column;
  margin-left: -19px;
  opacity: 0;
  padding: 16px 0;
  position: absolute;
}

/* line 94, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item .sub-menu .sub-menu-item {
  background-color: inherit;
  white-space: nowrap;
  transition: .1s;
}

/* line 99, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item .sub-menu .sub-menu-item a {
  display: block;
  padding: 9px 38px;
}

/* line 106, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item:hover {
  background: #f9f9f9;
}

/* line 109, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item:hover .title {
  padding: 0 19px;
}

/* line 113, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item:hover .sub-menu {
  display: flex;
  opacity: 1;
}

/* line 117, /Users/sharpc/Sites/CCNS/scss/_page-header.scss */
.page-header .top-bar .nav .nav-item:hover .sub-menu .sub-menu-item:hover {
  background-color: white;
}

/* line 1, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer {
  align-items: center;
  background-color: #44bbdf;
  color: white;
  display: flex;
}

/* line 8, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer a {
  color: white;
  text-decoration: none;
}

/* line 13, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer .footer-logo {
  margin: 47px 0 47px 47px;
}

/* line 16, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer .footer-logo img {
  max-width: 100%;
}

/* line 26, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer .contact-info {
  padding: 30px 47px;
}

/* line 29, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer .contact-info > div {
  display: flex;
  align-items: center;
}

/* line 35, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.page-footer .contact-info .address p {
  margin: 0;
}

/* line 43, /Users/sharpc/Sites/CCNS/scss/_page-footer.scss */
.copyright-bar {
  background-color: #007dbe;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px 47px;
}

/* line 4, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.page-hero .hero-image {
  display: block;
  width: 100%;
}

/* line 10, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.promo-banner {
  align-items: center;
  background: #44bbdf;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 9px 47px 0;
}

/* line 20, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.promo-banner .promo-content {
  text-align: center;
}

/* line 23, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.promo-banner .promo-content .promo-text {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  margin: 8px 0;
}

/* line 30, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.promo-banner .promo-content .promo-cta {
  color: white;
  border: 1px solid white;
  border-radius: .25em;
  padding: .625em 1.438em;
  text-decoration: none;
  display: inline-block;
  margin: 0 1.3em 1em 1.3em;
}

/* line 9, /Users/sharpc/Sites/CCNS/scss/_mixins.scss */
.promo-banner .promo-content .promo-cta:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 40, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.about-section {
  margin-bottom: 70px;
  margin-top: 50px;
}

/* line 45, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.about-section .overview {
  margin: 0 0 47px 0;
}

/* line 49, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.about-section .video {
  height: 50vw;
}

@media (min-width: 768px) {
  /* line 40, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .about-section {
    display: flex;
    margin-bottom: 100px;
    padding-bottom: 0;
  }
  /* line 59, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .about-section .video {
    align-self: stretch;
    flex-shrink: 0;
    height: 310px;
    margin: 0 0 0 47px;
    width: 50%;
  }
}

/* line 70, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.accreditations-section {
  margin-left: -57px;
  margin-right: -57px;
  background-color: #f4f8fb;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 78, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.accreditations-section .accreditations-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 654px;
}

/* line 86, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.accreditations-section .accreditation {
  margin: 24px 10px;
}

/* line 89, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.accreditations-section .accreditation img {
  max-width: 102px;
  width: 100%;
}

@media (min-width: 768px) {
  /* line 70, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .accreditations-section {
    padding: 40px 0;
  }
}

/* line 100, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section {
  margin-top: 47px;
}

/* line 104, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a {
  border-radius: 6px;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  margin: 47px;
  padding: 1px 47px;
  text-align: center;
  text-decoration: none;
  transform: perspective(100px);
  transition: .5s;
}

/* line 116, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a.program {
  background-color: #82b440;
}

/* line 120, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a.about {
  background-color: #44bbdf;
}

/* line 124, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a.enrollment {
  background-color: #f0a655;
}

/* line 128, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a h2 {
  color: white;
}

/* line 132, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a img {
  display: none;
  max-width: 100%;
}

/* line 137, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a p {
  display: none;
  color: black;
  padding: 7px 27px 13px;
}

/* line 143, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
.exploration-section a:hover {
  box-shadow: 0 11px 25px -2px rgba(0, 0, 0, 0.2);
  transform: perspective(100px) translate3d(0, -7px, 2px);
}

@media (min-width: 768px) {
  /* line 100, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .exploration-section {
    display: flex;
    padding: 0 23.5px;
    margin-top: 100px;
    margin-bottom: 110px;
  }
  /* line 155, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .exploration-section a {
    margin: 0 23.5px;
    overflow: hidden;
    padding: 0;
    width: 33.33333%;
  }
  /* line 161, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .exploration-section a img {
    display: inline;
  }
  /* line 165, /Users/sharpc/Sites/CCNS/scss/_homepage.scss */
  .exploration-section a p {
    display: block;
  }
}

/* line 21, /Users/sharpc/Sites/CCNS/scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 25, /Users/sharpc/Sites/CCNS/scss/main.scss */
body {
  padding: 0;
  margin: 0;
  background: #dedede;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

/* line 33, /Users/sharpc/Sites/CCNS/scss/main.scss */
h1 {
  color: #ff375a;
  font-family: Chalkduster;
  font-size: 23px;
  line-height: 29px;
  margin-top: 60px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  /* line 33, /Users/sharpc/Sites/CCNS/scss/main.scss */
  h1 {
    margin-top: 90px;
  }
}

/* line 47, /Users/sharpc/Sites/CCNS/scss/main.scss */
h2 {
  color: #ff375a;
  font-family: Chalkduster;
  font-size: 18px;
  line-height: 29px;
}

/* line 54, /Users/sharpc/Sites/CCNS/scss/main.scss */
p {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

/* line 60, /Users/sharpc/Sites/CCNS/scss/main.scss */
.no-br {
  white-space: nowrap;
}

/* line 64, /Users/sharpc/Sites/CCNS/scss/main.scss */
.standard-padding, .accreditations-section, .page-wrapper {
  padding-left: 47px;
  padding-right: 47px;
}

/* line 69, /Users/sharpc/Sites/CCNS/scss/main.scss */
.full-bleed, .page-header .loading-bar, .page-footer, .copyright-bar, .page-hero, .promo-banner, .exploration-section {
  margin-left: -47px;
  margin-right: -47px;
}

/* line 74, /Users/sharpc/Sites/CCNS/scss/main.scss */
.page-wrapper {
  background-color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/*# sourceMappingURL=../css/main.map */